:root {
    --blue: #1e90ff;
    --white: #ffffff;
}

header {
    display: flex;
    flex-wrap: wrap;
    background:darkgray;
    padding:10px;
    
}

a { text-decoration: none;
}

p {
    font-size: 1em;
}

h3 {
    font-size:40pt;
}
.name_logo {
    background-color: gray;
    margin: 10px;
    padding: 5px;
    flex: 300px;
    font-size: 2em;
    
}

.nav_elements {
    background-color: cadetblue;
    margin: 10px;
    padding: 5px;
    flex:300px;
    
    text-align: end;
}

.header_image {
    background-color:gray;
    justify-content: flex-end;
    flex:100%;
    margin:2px;
}

.flex_container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: auto;
    justify-content: left;
  }
  
  .flex_container  > div {
    
    flex-basis: 40%;
    margin: 8px;
    padding: 20px;
    flex-basis:20%;
    
    
  }
  
  #div_border {
    border-right: 3px solid black;
    text-align: right;
    justify-self: left;
    
  }
