:root {
    --blue: #1e90ff;
    --white: #ffffff;
}

header {
    display: flex;
    flex-wrap: wrap;
    background:lightblue
    
}

.name_logo {
    background-color: var(--blue);
    margin: 10px;
    padding: 5px;
    flex: 300px;
}

.nav_elements {
    background-color: cadetblue;
    margin: 10px;
    padding: 5px;
    flex:300px;
    justify-items: flex-end;
    text-align: end;
}

.header_image {
    background-color:gray;
    justify-content: flex-end;
    flex:100%;
    margin:10px;
}

main {
    display: flex;
}

